################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Products.API/obj
/Products.Core/obj
/Products.Infrastructure/obj
/products.Test/obj
/Products.Application/obj
