################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Products.API/obj
/Products.Core/obj
/Products.Infrastructure/obj
/products.Test/obj
/Products.Application/obj
/Products.Infrastructure/bin/Debug/net8.0
/Products.Core/bin/Debug/net8.0
/Products.Test/bin/Debug/net8.0
